
 body {
  color: #515151;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.65;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {  
  color: #5376f4;
  font-weight: 400;
  text-decoration: inherit;
  transition: color 0.2s ease-out;
}

 b, strong, th {
  font-weight: 400;
  color: #202020;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #202020;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  /*margin-top: 1rem;*/
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  margin-top:0;

}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}



.hr-posts {
  font-family: Source Sans Pro;
  text-align: center; 
  line-height: 1px;
  height: 1px; 
  font-size: 1.5rem; 
  border-color:#515151;
  margin: 2rem 1rem;
  overflow: visible;
}
.hr-posts:after {
  content: "</>"; 
  color: #515151;
  font-weight: 400;
  display: inline;
  background-color: white; 
  padding: 0 0.5em; 
}


code {
  background-color: rgba(148, 148, 148, 0.12);
  color: #515151;
  border-radius: 2px;
  font-size: 0.8em;
  margin: 0 0.2em;
  padding: 0.4em 0.4em;
}

pre {
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  border-radius: 2px;
  font-size: 0.7em;
  padding: 0.8em 1.2em;
  white-space: pre-wrap;
}

pre code {
  background: initial;
  color: inherit;
  font-size: initial;
  margin: initial;
  padding: initial;
}

table {
  border-spacing: 1px;
  box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16) inset;
}

tr:hover {
  background: rgba(148, 148, 148, 0.06);
}

th, td {
  box-shadow: 0px 0px 0px 1px rgba(148, 148, 148, 0.16);
  padding: 0.5em 1em;
}



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}


/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}



/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: 5px solid #5376f4;
  margin-left: .8rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}



/*

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left: 0;
  margin-right: 0;
 
} */

.container {
  max-width: 38rem;
  margin-left: 0;
  margin-right: 0;
 
}


.latest-posts {
  font-size: 2rem;
  font-weight: 400;
  color:#282c34;
  padding-bottom: 1rem;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
}

/* Blog post or page title */
/*.page-title,*/
.page-title {
  color: #282c34;
}

/* Post title for a post and links to post on homepage */

.post-title h1 {
 font-size: 2rem;
 text-align: center; 
}

.post-title-link  h1 {
  color: #5376f4;
  font-size: 1.5rem;
}

.post-title-link a:hover,
.post-title-link a:focus {
  text-decoration: underline;
}

/* Post Dates for blog post and homepage */

.post-date {
  text-align: center;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  color: #515151;
  font-weight: 400;
}

.post-date-homepage {
  text-align: left;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  color: #515151;
  font-weight: 400;
}

.archive a:hover,
.archive a:focus {
  text-decoration: underline;
}
.title a:hover,
.title a:focus {
  text-decoration: underline;
}

.page-title,
.post-title {
  margin-top: 0;
}

/* Readmore Button */

.read-more {
  background-color: #5376f4;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;    
  -webkit-border-top-right-radius: 10px;    
  -webkit-border-bottom-left-radius: 10px;    
  -webkit-border-left-radius: 10px;    
  font-size: 16px;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
  border-style:solid;
}

.read-more:hover,
.read-more:focus{
  background-color: white;
  color: #5376f4;
  border-style:solid;
  border-color: #5376f4;
}


/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #5376f4;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "Source Sans Pro" sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}
