html {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
.sidebar {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  padding: 0.5rem 0.5rem;
  color: rgba(255, 255, 255, .5);
  background-color: #202020;
}

.title {
  margin: 0;
}

.lead {
  /*display: none;*/
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0;
}


.copyright {
  display: none;
}

.collapsible-menu label {
  font-size: 32px;
  display: block;
  cursor: pointer;
  background: url(/menu.png) no-repeat right center;
}

input#menu {
  display: none;
}

input:checked+label {
  background-image: url(/close.png);
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

input:checked~.menu-content {
  max-height: 100%;
}


/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* Name/Title of website*/
.title {
  display: none;
}

.title-navbar {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
  padding:0;
  margin:0;
}

.title-navbar a {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar nav */
.sidebar-nav {
  margin: 0;
  padding: 0;
}

.sidebar-nav-item {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.fa {
  margin-left: 10px;
}

.icons {
  font-size: 30px;
  text-align: center;
}

.socials {
  display: inline;
  font-size: 15px;
  font-family: monospace;
}

.sidebar-nav-item.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
  }

  .title {
    display: block;
    text-align: left;
    color: #fff;
    margin-top: 0;
    font-size: 4rem;
  }

  .title a {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
  .title-navbar {
    display:none;
  }

  .container {
    max-width: 38rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

  }



  .fa {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .icons {
    font-size: 30px;
    text-align: left;
  }

  .lead{
    font-size: 1.1rem;
  }

  .sidebar-nav-item {
    font-family: 'Nunito', sans-serif;
    display: block;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align:left;
  }

  .socials {
    display: inline;
    font-size: 15px;
    font-family: monospace;
  }

  .lead {
    display: block;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

  }

  .copyright {
    display: block;
    font-size: 1rem;
  }


  .post-title {
    font-size: 2rem;
    text-align: center;
  }

  .collapsible-menu label {
    all: unset;
  }

  input#menu {
    all: unset;
  }

  input:checked+label {
    all: unset;
  }

  .menu-content {
    all: unset;
  }

  input:checked~.menu-content {
    all: unset;
  }

}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top: 6rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 48em) {

  /*1366*768 minimum width*/
  .content {
    padding-top: 4rem;
    max-width: 40rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}


@media (min-width: 58em) {

  /*1920*1080 minimum width*/
  .content {
    padding-top: 4rem;
    max-width: 55rem;
    margin-left: 20rem;
    margin-right: 4rem;
  }
}

@media (min-width: 64em) {

  /* x 1024 minimum width*/
  .content {
    margin-left: 20rem;
    margin-right: 4rem;
  }
}