html {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

@media (min-width: 48em) {
  p {
    font-size: 18px;
  }
}

@media (min-width: 58em) {
  p {
    font-size: 18px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
.sidebar {
  position: fixed; /* Turn to fixed for sticky top bar */
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  padding: 0.5rem 0.5rem;
  padding-left: 2rem;
  padding-right:2rem;
  color: rgba(255, 255, 255, 0.644);
  background-color: #202020;
}

.title {
  margin: 0;
}

.lead {
  /*display: none;*/
  color: var(--main-lead-color);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
}


.copyright {
  padding-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.collapsible-menu label {
  font-size: 32px;
  display: block;
  cursor: pointer;
  background: url(/menu.png) no-repeat right center;
}

input#menu {
  display: none;
}

input:checked+label {
  background-image: url(/close.png);
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

input:checked~.menu-content {
  max-height: 100%;
}


/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* Name/Title of website*/
.title {
  display: none;
}

.title-navbar {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
  padding:0;
  margin:0;

}

.title-navbar a {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar nav */
.sidebar-nav {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}
.sidebar-container {
  display: inline-block;
  text-align: left;
}

.sidebar-nav-item {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 30px;
}

.sidebar-nav-item-menu {
  font-size: 18px;
}

.sidebar-nav-item-copyright {
  font-size: 0.7rem;
}

/*.center {
margin:auto;
width:33%;
}*/

.fa {
  margin-left: 10px;
}

.icons{
  font-size: 25px;
  text-align: center;

}

.socials {
  display: inline;
  font-size: 15px;
  font-family: monospace;
  font-weight: 400;
}

.sidebar-nav-item-menu:hover {
  font-weight: bold;
  border-bottom: 5px solid white;
}

.sidebar-nav-item-icon:hover {
  border-bottom: 5px solid white;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

.post-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.25rem;
  text-align: left;
}


.post-date {
  font-size: 1.2rem;
  }

  .post-date-homepage {
  font-size: 1.2rem;
  }

  .mini-tags {
    display:inline-block;
    background-color: white;
    border-color: #788cfd;
    border-width: 2px;
    color:#788cfd;
    border-style: solid;
    border-radius: 4px;
    font-size: 15px;
    margin: 5px 2px;
    padding: 2px 5px;
    font-weight: 400;
  }
  .intro-container {
    text-align: center;
    width:100%;
    height:100%;
  }

  .intro {
    display:inline-block;
    text-align: left;
  }
  .intro p {
    font-size: 18px;
  }

  .intro a {
    border-bottom: 5px solid var(--main-link-color);
    font-size: 20px;
  }

  .web-presence {
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color:white;
    font-weight: 400;
    text-transform: capitalize;
  }

  .web-presence:before,
  .web-presence:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .web-presence:before {
    right: 0.5em;
    margin-left: -50%;
  }

  .web-presence:after {
    left: 0.5em;
    margin-right: -50%;
  }

@media (min-width: 48em) {
  body {
    font-size: 18px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding: 0.5em 0.5em;
  }

  .title {
    display: block;
    text-align: left;
    color: #fff;
    margin-top: 0;
    font-size: 4.3rem;
  }

  .title a {
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }
  .title-navbar {
    display:none;
  }

  .container {
    max-width: 38rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

  }



  .fa {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .icons {
    text-align: left;
  }

  .lead{
    font-size: 1rem;
  }

  .center {
    text-align: left;
  }
  .sidebar-container {
    display: i;
    text-align: left;
  }

  .sidebar-nav-item {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
  }



  .socials {
    display: inline;
    font-size: 15px;
    font-family: monospace;
    font-weight: 400;
  }

  .lead {
    display: block;
    font-weight: 300;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

  }

  .copyright {
    display: block;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: left;
    position: absolute;
    bottom:0;
  }


  .post-title {
    font-size: 3em;
    text-align: left;
  }

  .collapsible-menu label {
    all: unset;
  }

  input#menu {
    all: unset;
  }

  input:checked+label {
    all: unset;
  }

  .menu-content {
    all: unset;
  }

  input:checked~.menu-content {
    all: unset;
  }


  .post-date {
  font-size: 1.25em;
  }

  .post-date-homepage {
  font-size: 1.25em;
  }

  .mini-tags {
    display:inline-block;
    background-color: white;
    border-color: #788cfd;
    border-width: 2px;
    color:#788cfd;
    border-style: solid;
    border-radius: 4px;
    font-size: 16px;
    margin: 6px 2px;
    padding: 2px 8px;
    font-weight: 400;
  }

  .intro-container {
    text-align: center;
    width:100%;
    height:100%;
  }

  .intro {
    display:inline-block;
    text-align: left;
  }
  .intro p {
    font-size: 25px;
  }
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 48em) {

  /*1366*768 minimum width*/
  .content {
    padding-top: 2.5rem;
    max-width: 40rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }
}


@media (min-width: 58em) {

  /*1920*1080 minimum width*/
  .content {
    padding-top: 2.5rem;
    max-width: 50rem;
    margin-left: 18rem;
    margin-right: 4rem;
  }
}

@media (min-width: 64em) {

  /* x 1024 minimum width*/
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
  }
}