
    <div id="about" class="about-container">
        <h1 class="heading"> About Me</h1>
        <div class="about-content">

          <p>I am Shawn D’silva, a <span class="dotted-blu">Full Stack Developer</span> and <span
              class="dotted-blu">Designer</span> using the versatility of <span style="border-bottom:yellow"
              class="dotted-blu">JavaScript</span> in both <span class="dotted-blu">Front-End</span> and <span
              class="dotted-blu">Back-End</span>
            to create beautiful, responsive and well designed Single Page <span class="dotted-blu">Web Apps</span> with
            <span class="dotted-blu">great UX</span>.</p>
            <!-- Aside from Web Development, i am also an Embedded Systems and Systems Programming enthusiast. -->
            <!-- <br>
            <br>
            I am passionate about code, from beautiful and complex web apps to bare-metal microcontroller firmware, and everything in between.
            This site is an overview of my skills, projects and the latest posts from my blog.
            <br>
            <br> -->
            <p>I believe that good code should have clear and concise <span class="dotted-blu">Documentation</span>, and
            therefore endeavor to use my <span class="dotted-blu">Blog</span> and <span class="dotted-blu">Github</span>
            to share anything new that i have learnt, or
            document my projects</p>
        <a style="text-align:center" class="view-all view-all-container" href="{{base.url}}/about/"> <i class="fas fa-file-alt"></i> &nbsp; View Resume</a>
        </div>