<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}  
        {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="icons">
      <a class="sidebar-nav-item fa fa-github"   href="{{ site.github.repo }}"> </a>

     <a class=" sidebar-nav-item fa fa-twitter"   href="{{ site.twitter }}">  </a>

    <a class="sidebar-nav-item fa fa-envelope-o"  href="{{ site.email }}"> </a>
      </div>

      <p class="copyright">

          &copy; {{ site.time | date: '%Y' }} Shawn D'silva </p>

    </nav>

  </div>
</div>
