<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!--<script>
      document.getElementById("menu").checked = true;

      if (document.documentElement.clientWidth < 900) {
        document.addEventListener("scroll", function() {
            if (window.pageYOffset > 500) {
              document.getElementById("menu").checked = false;
              document.getElementById("sidebar").style.position = "fixed";
              document.getElementById("container").style.paddingTop = "40rem";

            }
            else {
              document.getElementById("menu").checked = true;
              document.getElementById("sidebar").style.position = "absolute";
              document.getElementById("container").style.paddingTop = "45rem";

            }
      });
      }
    </script>-->

    <!-- <script>
          function checkedHandler(checkbox) {
      if(!checkbox.checked) {
        document.getElementById("container").style.paddingTop = "4rem";
      }
      else {
        document.getElementById("container").style.paddingTop = "40rem";
      }
    }
    </script> -->

    <script src="public/js/checkHandler.js"></script>

    <div id="container" class="content container">
      {{ content }}
    </div>

  </body>
</html>
