<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <script>
        if (document.documentElement.clientWidth < 900) {
        document.addEventListener("scroll", function() {
            if (window.pageYOffset > 200) {
              document.getElementById('lead').style.display = "none";
            }
            else {
              document.getElementById('lead').style.display = "block";
            }
      });
      }
      </script>
    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
